h1 {
  color: black;
  align-self: center;
}

.border{
    background-image: url("Textures/border.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;    
    padding: 28.3%;
    y: 0;
    position: absolute;
    left: -0.95%;
    top: -0.9%;
    width: 45.3%;
}

main{
    background-color: black;
}

canvas {
      y:1;
      background: Green;
      scale: 150%;
    }

